



/*          */

#heart{
    margin-top: 2rem;
    padding-right: 2rem;
   float:right;
   color: black;
}
#str{

    float:right;
    border-radius: 1em;
    text-align: center;
    margin-bottom: 1rem;
    width: 4rem;
   
}

.card-title{
    height: 3rem;    
    white-space: wrap;
    overflow: hidden;
}
#star:hover{
    color: yellow;

}
#heart:hover{
    color:red;


}
.card{
margin: 10px;
transition: 1s;
}
.card:hover{
    transform: scale(1.06);

}

#exp{

border-radius: 9px;
text-align: center;
width:70px ;
display:inline-block;
 
}

.addproducts{
    display: inline-block;
    margin-left: .5rem;
}
.par{
    overflow: hidden;
    text-overflow: ellipsis;  
}
#cardimg{
    padding-left: 15px;
}
#ex{
    text-align: center;
    border-radius: 9px;
}